include README.md
include LICENSE
include requirements.txt
include MANIFEST.in
include version.txt
recursive-include autoclustal/conf *
recursive-include autoclustal *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store