/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full size test dataset to check pipeline function'

    // Input data for full size test
    input = 'test_data/full_dataset.fasta'
    
    // Full test parameters
    seq_type = 'auto'
    aligner = 'mafft'
    phylogeny = 'nj'
    cluster_threshold = 0.7
    blast = true
    pca = true
    threads = 4
}